
.bg-fisher {
    background-image: linear-gradient(-131deg, #3DBDB6 0%, #0089CE 100%);
}

.bg-fisher-inverse {
    background-image: linear-gradient(-1deg, #3DBDB6 0%, #0089CE 40%);
}

html body .content .content-wrapper {
    padding: 0 1.8rem;
}


.brand-logo {
    max-width: 120px;
}

.menu-color-overlay{
    background-image: linear-gradient(to right,#00A5A8 0,#4DCBCD 100%);
}

.pipeline.white .pipeline-item {
    box-shadow: none;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid #d1d4e8;
    transition: all 0.2s ease;
    cursor: move;
}

.pipeline-item {
    background-color: #fff;
    margin-bottom: 1px;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.pipeline-item .pi-controls {
    position: absolute;
    top: 5px;
    right: 10px;
    line-height: 1;
}

.pipeline-item .pi-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 15px;
}

.pipeline.white .pipeline-item .pi-foot {
    border-radius: 0px 0px 4px 4px;
}
.pipeline-item .pi-foot {
    background-color: #F1F4F8;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
}

.pipeline-item .pi-controls .status.status-green {
    background-color: #90be2e;
}

.pipeline-item .pi-controls .status.status-red {
    background-color: #c21a1a;
}

.pipeline-item .pi-controls .status.status-yellow {
    background-color: #f8bc34;
}

.pipeline-item .pi-controls .status.status-default {
    background-color: #333133;
}

.pipeline-item .pi-controls .status.status-blue {
    background-color: #047bf8;
}

.tag-green {
    background-color: #90be2e;
}

.tag-yellow {
    background-color: #c21a1a;
}

.tag-red {
    background-color: #f8bc34;
}

.tag-default {
    background-color: #333133;
}

.tag-blue {
    background-color: #047bf8;
}

.status-pill.default {
    background-color: #454849;
}

.pipeline-item .pi-controls .status {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    width: 11px;
    height: 11px;
    border-radius: 10px;
    cursor: pointer;
}

.pipeline-item .pi-body .avatar {
    width: 50px;
    margin-right: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
}

.pipeline-item .pi-body .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.pipeline.white .pipeline-item {
    cursor: move;
}

.pipeline-item .pi-body .pi-name {
    margin-bottom: 0px;
}

.pipeline-item .pi-body .pi-sub {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.81rem;
    margin-top: 15px;
}

.tags {
    line-height: 1;
}

.tags .tag {
    padding: 6px;
    line-height: 1;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #047bf8;
    color: #047bf8;
    margin-right: 2px;
    font-size: 0.72rem;
    border-radius: 4px;
    margin-bottom: 2px;
    margin-top: 2px;
}

a.tag:hover {
    color: #1a50b7;
    text-decoration: underline;
    cursor: pointer;
}

.pipeline-item .pi-foot .extra-info {
    margin-right: 5px;
    white-space: nowrap;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.63rem;
    letter-spacing: 1px;
}

.pipeline-item .pi-foot .extra-info i {
    margin-right: 5px;
    font-size: 16px;
    vertical-align: middle;
    color: #047bf8;
    display: inline-block;
}

.pipeline-item .pi-foot .extra-info span {
    vertical-align: middle;
    display: inline-block;
}

.cell-image-list {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

.cell-image-list .cell-img:nth-child(1) {
    z-index: 5;
}

.cell-image-list .cell-img:nth-child(2) {
    z-index: 4;
}

.cell-image-list .cell-img:nth-child(3) {
    z-index: 3;
}

.cell-image-list .cell-img {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center center;
    border-radius: 15px;
    box-shadow: 0px 0px 0px 2px #fff, 1px 1px 5px rgba(0, 0, 0, 0.8);
    vertical-align: middle;
    transition: all 0.1s ease;
    -webkit-transform: scale(1);
    transform: scale(1);
    position: relative;
}

.cell-image-list .cell-img + .cell-img {
    margin-left: -15px;
}

.cell-image-list .cell-img + .cell-img:hover {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}

.full-chat-w {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    background-color: #fff;
    padding: 0px;
}

#user-profile .profile-with-cover .profil-cover-details .profile-image img.img-border,
.profile-card-with-cover .card-profile-image img.img-border {
    border: 5px solid #FFF
}
.profile-card-with-stats .btn-float {
    padding: 8px 14px 4px
}
.profile-card-with-cover .card-profile-image {
    position: absolute;
    top: 130px;
    width: 100%;
    text-align: center
}
.profile-card-with-cover .profile-card-with-cover-content {
    padding-top: 4rem
}
#user-profile .profile-with-cover .profil-cover-details {
    position: absolute;
    margin-top: -90px
}
#user-profile .profile-with-cover .profil-cover-details .card-title {
    color: #FFF;
    text-shadow: 1px 1px 4px #1B2942
}
#user-profile .navbar-profile {
    margin-left: 130px
}

.img-empresa{
    max-width: 140px;
}

.user-social i.os-icon.os-icon-twitter {
    color: #31a7f3;
    font-size: 2.5rem;
}

.user-social i.os-icon.os-icon-facebook {
    color: #175dc5;
    font-size: 2.5rem;
}

.justify{
    text-align:justify;
}

.full-chat-middle {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    background-color: #fff;
}

.full-chat-middle .chat-head {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.full-chat-middle .user-info {
    font-size: 1.08rem;
    width: 100%;
}

.full-chat-middle .user-info span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.full-chat-middle .user-info a {
    display: inline-block;
    vertical-align: middle;
    border-bottom: 1px dotted #047bf8;
}

.full-chat-middle .user-actions a {
    margin-left: 1rem;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
}

.chat-content-w {
    height: 600px;
    overflow: auto;
    position: relative;
}

.chat-content-w .chat-content {
    padding: 50px;
    min-height: 600px;
}

.chat-controls {
    padding: 20px;
    padding-top: 20px;
    padding-top: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-input input[type="text"] {
    padding: 20px 20px 20px 0px;
    border: none;
    display: block;
    width: 100%;
    outline: none;
}

.chat-input-extra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.chat-input-extra .chat-extra-actions a {
    margin-right: 10px;
    display: inline-block;
}

.chat-content-w .chat-message {
    margin-bottom: 20px;
}

.chat-content-w .chat-message .chat-message-content {
    padding: 15px 35px;
    background-color: #fff9f0;
    color: #594939;
    max-width: 400px;
    display: inline-block;
    margin-bottom: -20px;
    margin-left: 20px;
    border-radius: 20px;
    text-align: left;
}

.chat-content-w .chat-message .chat-message-avatar {
    display: inline-block;
    vertical-align: bottom;
}

.chat-content-w .chat-message .chat-message-avatar img {
    width: 40px;
    height: auto;
    border-radius: 30px;
    display: inline-block;
    box-shadow: 0px 0px 0px 10px #fff;
}

.chat-content-w .chat-message .chat-message-date {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.72rem;
    color: rgba(0, 0, 0, 0.3);
}

.chat-content-w .chat-date-separator {
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    font-size: 0.81rem;
    position: relative;
    margin: 40px 0px;
}

.chat-content-w .chat-date-separator span {
    display: inline-block;
    background-color: #fff;
    padding: 0px 10px;
    position: relative;
}

.chat-content-w .chat-date-separator::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.1);
    height: 1px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
}

.chat-content-w .chat-message.self {
    text-align: right;
}

.chat-content-w .chat-message {
    margin-bottom: 20px;
}

.chat-content-w .chat-message.self {
    text-align: right;
}

.chat-content-w .chat-message.self .chat-message-content {
    background-color: #f0f9ff;
    color: #2A4E7F;
    margin-right: 20px;
    margin-left: 0px;
}

.message-head {
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.message-head .user-w {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.message-head .user-w .user-avatar-w {
    width: 50px;
}

.message-head .user-w.with-status .user-avatar-w {
    position: relative;
}

.message-head .user-w.with-status.status-green .user-avatar-w::before {
    background-color: #90be2e;
}

.message-head .user-w.with-status.red .user-avatar-w::before {
    background-color: #c21a1a;
}

.message-head .user-w.with-status.yellow .user-avatar-w::before {
    background-color: #f8bc34;
}

.message-head .user-w.with-status.default .user-avatar-w::before {
    background-color: #333133;
}

.message-head .user-w.with-status.blue .user-avatar-w::before {
    background-color: #047bf8;
}


.message-head .user-w.with-status .user-avatar-w::before {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    top: 2px;
    right: 2px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 3px #fff;
}

.message-head .user-w .user-avatar-w .user-avatar {
    border-radius: 40px;
    overflow: hidden;
}

.message-head .user-w .user-avatar-w .user-avatar img {
    max-width: 100%;
    height: auto;
}

.message-head .user-w .user-name {
    padding-left: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.message-head .user-w .user-title {
    margin-bottom: 2px;
    color: #047bf8;
}

.message-head .user-w .user-role {
    font-weight: 500;
    font-size: 0.81rem;
}

.message-head .user-w .user-role span {
    display: inline-block;
    margin-left: 5px;
    color: rgba(0, 0, 0, 0.4);
}

.message-head .message-info {
    color: rgba(0, 0, 0, 0.3);
    font-size: 0.72rem;
    text-align: right;
}

.message-content {
    padding: 6% 10% 8% 10%;
}

body.vertical-layout.vertical-menu.menu-expanded .main-menu {
    width: 300px;
}

.cell-image-list .cell-img-more {
    font-size: 0.63rem;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: -70%;
    background-color: #fff;
    padding: 3px 5px;
    border-radius: 4px;
    z-index: 7;
    white-space: nowrap;
}

.cell-image-list {
    position: relative;
    display: inline-block;
    white-space: nowrap;
}

.bg-default-content{
    background: url(/images/support.png) 50% 50% no-repeat;
    height: 500px;
    text-align: center;
    opacity: 5;
}

.text-center {
    text-align: center;
}

.mt2{
    margin-top: 25px;
    padding: 25px;
}

.full-chat-middle{
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.content-i {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.user-profile, .element-box, .invoice-w, .big-error-w, .activity-boxes-w .activity-box, .projects-list .project-box {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
}

.user-profile {
    -webkit-animation-name: fadeUp;
    animation-name: fadeUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.user-profile .up-head-w {
    background-size: cover;
    background-position: center center;
    position: relative;
    color: #fff;
    border-radius: 4px 4px 0px 0px;
}

.user-profile .up-head-w .up-social {
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 5;
}

.user-profile.compact .up-head-w .up-social a {
    font-size: 20px;
}
.user-profile .up-head-w .up-social a {
    color: rgba(255, 255, 255, 0.8);
    display: inline-block;
    font-size: 30px;
    margin-left: 10px;
}

.user-profile .up-controls {
    padding: 20px 5%;
}


.user-profile.compact .up-main-info {
    padding-top: 15%;
}

.user-profile .up-main-info {
    position: relative;
    z-index: 4;
}

.user-profile .up-head-w .decor {
    position: absolute;
    bottom: -1px;
    right: 0px;
    max-width: 100%;
    z-index: 3;
}

.value-pair {
    display: inline-block;
}

.value-pair .label {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.63rem;
    text-transform: uppercase;
    display: inline-block;
}

.value-pair .value {
    display: inline-block;
    font-size: 0.63rem;
    text-transform: uppercase;
}
.badge-success {
    background-color: #90be2e;
}


svg:not(:root) {
    overflow: hidden;
}

.btn .os-icon + span, .all-wrapper .fc-button .os-icon + span {
    display: inline-block;
    vertical-align: middle;
}

.user-profile.compact .up-contents {
    padding-top: 0px;
}
.user-profile .up-controls + .up-contents {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.user-profile .up-contents {
    padding: 20px 5%;
    padding-top: 20px;
    padding-top: 3rem;
}

.m-b {
    margin-bottom: 1rem;
}

.b-b {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.b-r {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.el-tablo.centered {
    text-align: center;
}
.padded-v {
    padding: 1rem 10px;
}
.el-tablo {
    padding-right: 5px;
}

.el-tablo .value {
    font-size: 2.43rem;
    font-weight: 500;
    font-family: "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: -1px;
    line-height: 1.2;
    display: block;
    vertical-align: middle;
}

.el-tablo .label {
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.4);
}

.el-tablo.centered {
    text-align: center;
}
.padded-v {
    padding: 1rem 10px;
}
.el-tablo {
    padding-right: 5px;
}

.padded {
    padding: 1rem 2rem;
}

.os-progress-bar {
    margin-bottom: 1rem;
}

.os-progress-bar .bar-labels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 5px;
}

.os-progress-bar .bar-label-left span {
    margin-right: 5px;
}
.os-progress-bar .bar-labels span {
    font-size: 0.72rem;
}

.os-progress-bar .bar-label-left span.positive {
    color: #619B2E;
}
.os-progress-bar .bar-label-left span {
    margin-right: 5px;
}
.os-progress-bar .bar-labels span {
    font-size: 0.72rem;
}

.os-progress-bar .bar-label-right span.info {
    color: #456CF9;
}
.os-progress-bar .bar-label-right span {
    margin-left: 5px;
}
.os-progress-bar .bar-labels span {
    font-size: 0.72rem;
}

.os-progress-bar.blue .bar-level-2, .os-progress-bar.primary .bar-level-2 {
    background-color: #98c9fd;
}
.os-progress-bar .bar-level-1, .os-progress-bar .bar-level-2, .os-progress-bar .bar-level-3 {
    border-radius: 12px;
    height: 6px;
}

.os-progress-bar.blue .bar-level-3, .os-progress-bar.primary .bar-level-3 {
    background-color: #047bf8;
}
.os-progress-bar .bar-level-1, .os-progress-bar .bar-level-2, .os-progress-bar .bar-level-3 {
    border-radius: 12px;
    height: 6px;
}

.os-progress-bar.blue .bar-level-1, .os-progress-bar.primary .bar-level-1 {
    background-color: #F2F2F2;
}
.os-progress-bar .bar-level-1, .os-progress-bar .bar-level-2, .os-progress-bar .bar-level-3 {
    border-radius: 12px;
    height: 6px;
}

.os-progress-bar.blue .bar-level-2, .os-progress-bar.primary .bar-level-2 {
    background-color: #98c9fd;
}
.os-progress-bar .bar-level-1, .os-progress-bar .bar-level-2, .os-progress-bar .bar-level-3 {
    border-radius: 12px;
    height: 6px;
}
.os-progress-bar.blue .bar-level-3, .os-progress-bar.primary .bar-level-3 {
    background-color: #047bf8;
}
.os-progress-bar .bar-level-1, .os-progress-bar .bar-level-2, .os-progress-bar .bar-level-3 {
    border-radius: 12px;
    height: 6px;
}

.user-profile + .element-wrapper {
    margin-top: 2rem;
}
.element-wrapper {
    padding-bottom: 4rem;
}

.element-box, .invoice-w, .big-error-w {
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
}
.box-style, .user-profile, .element-box, .invoice-w, .big-error-w, .activity-boxes-w .activity-box, .projects-list .project-box {
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 0px 30px rgba(15, 15, 15, 0.3);
}
.element-box, .invoice-w, .big-error-w {
    -webkit-animation-name: fadeUp;
    animation-name: fadeUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.element-wrapper .element-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
}

.element-wrapper .element-header::after {
    content: "";
    background-color: #047bf8;
    width: 22px;
    height: 6px;
    border-radius: 2px;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0px;
}

.timed-activities {
    margin-bottom: 1rem;
}

.timed-activities.compact .timed-activity {
    display: block;
    padding-left: 30px;
    position: relative;
}
.timed-activity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2rem;
    font-size: 1.08rem;
}

.timed-activities.compact .timed-activity::before {
    position: absolute;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0px;
    top: 45px;
    content: "";
    left: 8px;
}

.timed-activities.compact .timed-activity .ta-date {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    text-align: left;
    margin-bottom: 1.5rem;
}
.timed-activity .ta-date {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 130px;
    flex: 0 0 130px;
    color: rgba(0, 0, 0, 0.4);
    position: relative;
    text-align: center;
}

.timed-activity .ta-date span {
    position: relative;
    display: inline-block;
}

.timed-activities.compact .timed-activity .ta-date span::after {
    left: -30px;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.timed-activity .ta-date span::after {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: -30px;
    width: 16px;
    height: 16px;
    border: 3px solid #C76DC8;
    border-radius: 8px;
    background-color: #fff;
}

.element-wrapper .element-info {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.element-wrapper .element-info .element-info-with-icon {
    margin-bottom: 0px;
}
.element-wrapper .element-info-with-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2rem;
}

.element-wrapper .element-info-with-icon .element-info-icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 70px;
    flex: 0 0 70px;
    color: #047bf8;
    font-size: 30px;
}

.element-wrapper .element-inner-header {
    margin-bottom: 0.5rem;
    margin-top: 0px;
    display: block;
}

.element-wrapper .element-inner-desc {
    color: #999;
    font-weight: 300;
    font-size: 0.81rem;
    display: block;
}

legend::before {
    content: "";
    position: absolute;
    left: 0px;
    right: 0px;
    height: 1px;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
}
legend {
    font-size: 0.99rem;
    color: #047bf8;
}
legend {
    font-size: 1.5rem;
    line-height: inherit;
}
legend {
    color: inherit;
    white-space: normal;
}

.btn-f {
    background: #3B5998;
    border:none;
    color:white;
}

.element-header::after {
    content: "";
    background-color: #047bf8;
    width: 22px;
    height: 6px;
    border-radius: 2px;
    display: block;
    bottom: -3px;
    left: 0px;
    margin-top: 4px;
}


.dropdown-menu{
    width:100%;
}


.btn-social-icon > :first-child, .btn-social > :first-child {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0.8rem;
    line-height: 2.7rem;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.2);
}

.tags .tag:hover {
    padding: 6px;
    line-height: 1;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #047bf8;
    color: #047bf8;
    margin-right: 2px;
    font-size: 0.72rem;
    border-radius: 4px;
    margin-bottom: 2px;
    margin-top: 2px;
    text-decoration: none;
}

.hidden {
    display: none;
}


div.hide{
    display: none !important;
}

.btn-overlay {
    width: 100%;
    background: transparent !important;
    border: 1px solid #337ab7 !important;
    color: #337ab7 !important;
    padding: 15px !important;
    border-radius: 30px;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

.modal .close {
    background-color: #f3f3f3;
    border-radius: 50px;
    display: block;
    font-size: 40px;
    font-weight: 100;
    height: 40px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 1px;
    width: 40px;
    opacity: 1;
    outline: none;
    transition: all 0.3s ease 0s;
}

.modal-content {
    background-color: #f5f5f5;
}

.btn-info.active, .btn-info:active, .open > .dropdown-toggle.btn-info {
    background-image: none;
}
.btn-info.active, .btn-info:active, .open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #31b0d5 !important;
    border-color: #269abc !important;
}

#upload-input {
    display: none;
}


.progress {
    margin-bottom: 5px;
}

