
.pipeline {
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 30px 0 rgba(16, 37, 133, 0.5);
    box-shadow: 0 2px 30px 0 rgba(16, 37, 133, 0.5);
    padding: 20px;
    margin-bottom: 20px;
}
.pipeline.blue {
    background-color: #1D54EF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#1D54EF), to(#4327DF));
    background-image: linear-gradient(-180deg, #1D54EF 0%, #4327DF 100%);
    -webkit-box-shadow: 0 2px 30px 0 rgba(16, 37, 133, 0.5);
    box-shadow: 0 2px 30px 0 rgba(16, 37, 133, 0.5);
}
.pipeline.teal {
    background-color: #07B77F;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#07B77F), color-stop(98%, #2767DF));
    background-image: linear-gradient(-180deg, #07B77F 0%, #2767DF 98%);
    -webkit-box-shadow: 0 2px 30px 0 rgba(7, 186, 171, 0.5);
    box-shadow: 0 2px 30px 0 rgba(7, 186, 171, 0.5);
}
.pipeline.purple {
    background-color: #28428c;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#28428c), to(#510d8c));
    background-image: linear-gradient(-180deg, #28428c 0%, #510d8c 100%);
    -webkit-box-shadow: 0 2px 30px 0 rgba(42, 16, 133, 0.5);
    box-shadow: 0 2px 30px 0 rgba(42, 16, 133, 0.5);
}
.pipeline.green {
    background-color: #7BC10C;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7BC10C), color-stop(95%, #057051));
    background-image: linear-gradient(-180deg, #7BC10C 0%, #057051 95%);
    -webkit-box-shadow: 0 2px 30px 0 rgba(31, 219, 78, 0.5);
    box-shadow: 0 2px 30px 0 rgba(31, 219, 78, 0.5);
}
.pipeline.red {
    background-color: #960644;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#960644), color-stop(95%, #af760b));
    background-image: linear-gradient(-180deg, #960644 0%, #af760b 95%);
    -webkit-box-shadow: 0 2px 30px 0 rgba(154, 7, 58, 0.5);
    box-shadow: 0 2px 30px 0 rgba(154, 7, 58, 0.5);
}
.pipeline.pink {
    background-color: #a0008f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#a0008f), color-stop(98%, #2767DF));
    background-image: linear-gradient(-180deg, #a0008f 0%, #2767DF 98%);
    -webkit-box-shadow: 0 2px 30px 0 rgba(7, 8, 186, 0.5);
    box-shadow: 0 2px 30px 0 rgba(7, 8, 186, 0.5);
}
.pipeline.white {
    background-color: #fff;
    -webkit-box-shadow: 0 2px 30px 0 rgba(16, 37, 133, 0.1);
    box-shadow: 0 2px 30px 0 rgba(16, 37, 133, 0.1);
}
.pipeline.white .pipeline-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
}
.pipeline.white .pipeline-header .pipeline-name {
    color: #334152;
}
.pipeline.white .pipeline-header .pipeline-count {
    color: rgba(0, 0, 0, 0.5);
}
.pipeline.white .pipeline-header .pipeline-settings {
    color: rgba(0, 0, 0, 0.4);
}
.pipeline.white .pipeline-header .pipeline-value {
    color: #047bf8;
}
.pipeline.white .pipeline-item {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid #d1d4e8;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    cursor: move;
}
.pipeline.white .pipeline-item:last-child {
    margin-bottom: 0px;
}
.pipeline.white .pipeline-item:hover {
    border: 1px solid #9ea4cf;
    -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.pipeline.white .pipeline-item .pi-foot {
    border-radius: 0px 0px 4px 4px;
}
.pipeline.white.lined-primary {
    border-top: 5px solid #047bf8;
    border-radius: 0px 0px 4px 4px;
}
.pipeline.white.lined-success {
    border-top: 5px solid #90be2e;
    border-radius: 0px 0px 4px 4px;
}
.pipeline.white.lined-danger {
    border-top: 5px solid #e65252;
    border-radius: 0px 0px 4px 4px;
}
.pipeline.white.lined-warning {
    border-top: 5px solid #f0ad4e;
    border-radius: 0px 0px 4px 4px;
}
/* Pipeline Header Styles */

.pipeline-header {
    position: relative;
    margin-bottom: 20px;
}
.pipeline-header .pipeline-header-numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.pipeline-header .pipeline-name {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    margin-bottom: 5px;
    line-height: 1;
    padding-right: 30px;
}
.pipeline-header .pipeline-value {
    color: #FFD038;
    letter-spacing: 3px;
    font-size: 1.17rem;
}
.pipeline-header .pipeline-count {
    font-size: 0.81rem;
    color: rgba(255, 255, 255, 0.7);
}
.pipeline-header .pipeline-settings {
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    position: absolute;
    top: 0px;
    right: 0px;
}
.pipeline-body {
    min-height: 100px;
}
.pipeline-body.empty {
    border: 1px dashed rgba(0, 0, 0, 0.2);
}
/* Pipeline Item Styles */

.pipeline-item {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 4px;
    position: relative;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
.pipeline-item:last-child {
    margin-bottom: 0px;
}
.pipeline-item .pi-controls {
    position: absolute;
    top: 5px;
    right: 10px;
    line-height: 1;
}
.pipeline-item .pi-controls a {
    font-size: 16px;
    line-height: 14px;
    color: #047bf8;
    display: inline-block;
    vertical-align: middle;
}
.pipeline-item .pi-controls .pi-settings {
    display: inline-block;
    color: #047bf8;
    vertical-align: middle;
}
.pipeline-item .pi-controls .pi-settings > i {
    font-size: 15px;
}
.pipeline-item .pi-controls .status {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    width: 11px;
    height: 11px;
    border-radius: 10px;
    cursor: pointer;
}
.pipeline-item .pi-controls .status.status-green {
    background-color: #90be2e;
}
.pipeline-item .pi-controls .status.status-red {
    background-color: #e65252;
}
.pipeline-item .pi-controls .status.status-yellow {
    background-color: #f0ad4e;
}
.pipeline-item .pi-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 15px;
}
.pipeline-item .pi-body .avatar {
    width: 50px;
    margin-right: 15px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
}
.pipeline-item .pi-body .avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.pipeline-item .pi-body .pi-name {
    margin-bottom: 0px;
}
.pipeline-item .pi-body .pi-sub {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.81rem;
}
.pipeline-item .pi-foot {
    background-color: #F1F4F8;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
}
.pipeline-item .pi-foot .tags {
    line-height: 1;
}
.pipeline-item .pi-foot .tags .tag {
    padding: 3px 6px;
    line-height: 1;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #047bf8;
    color: #047bf8;
    margin-right: 2px;
    font-size: 0.72rem;
    border-radius: 4px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.pipeline-item .pi-foot .extra-info {
    margin-right: 5px;
    white-space: nowrap;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.6);
    font-size: 0.63rem;
    letter-spacing: 1px;
}
.pipeline-item .pi-foot .extra-info i {
    margin-right: 5px;
    font-size: 16px;
    vertical-align: middle;
    color: #047bf8;
    display: inline-block;
}
.pipeline-item .pi-foot .extra-info span {
    vertical-align: middle;
    display: inline-block;
}
.control-header {
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.control-header select.form-control {
    font-weight: 400;
    border-color: rgba(0, 0, 0, 0.5);
}
.control-header label {
    text-transform: uppercase;
    font-size: 0.72rem;
    letter-spacing: 2px;
}
.control-header .form-group {
    margin-bottom: 0px;
}
/* 18. Dropdowns */

.os-dropdown-trigger {
    position: relative;
    cursor: pointer;
}
.os-dropdown-trigger.over .os-dropdown {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(99%, 99%);
    transform: translate(99%, 99%);
}
.os-dropdown-trigger.os-dropdown-center .os-dropdown {
    right: 50%;
    -webkit-transform: translate(50%, 115%);
    transform: translate(50%, 115%);
}
.os-dropdown-trigger.os-dropdown-center.over .os-dropdown {
    -webkit-transform: translate(50%, 99%);
    transform: translate(50%, 99%);
}
.os-dropdown {
    background-color: #047bf8;
    color: #fff;
    padding: 10px 20px;
    position: absolute;
    z-index: 999;
    bottom: 0px;
    right: 0px;
    visibility: hidden;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    -webkit-transform: translate(99%, 115%);
    transform: translate(99%, 115%);
    opacity: 0;
    border-radius: 6px;
    -webkit-box-shadow: 0px 5px 25px 0px rgba(4, 123, 248, 0.5);
    box-shadow: 0px 5px 25px 0px rgba(4, 123, 248, 0.5);
    overflow: hidden;
    font-size: 0.9rem;
    text-align: left;
}
.os-dropdown > .icon-w {
    position: absolute;
    top: -30px;
    right: -30px;
    color: rgba(0, 0, 0, 0.1);
    font-size: 100px;
}
.os-dropdown ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: relative;
}
.os-dropdown ul li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.os-dropdown ul li:last-child {
    border-bottom: none;
}
.os-dropdown ul li a {
    display: block;
    white-space: nowrap;
    padding: 10px 10px 10px 0px;
    line-height: 1;
    color: #fff;
    font-size: 0.9rem;
}
.os-dropdown ul li a:hover {
    text-decoration: none;
}
.os-dropdown ul li a i {
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    font-size: 18px;
}
.os-dropdown ul li a span {
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 0.9rem;
}
.os-dropdown ul li a:hover i {
    color: #FBB463;
}
.os-dropdown.message-list {
    padding: 10px 0px;
}
.os-dropdown.message-list li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.os-dropdown.message-list li:last-child {
    border-bottom: none;
}
.os-dropdown.message-list li > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 12px 25px;
}
.os-dropdown.message-list li > a:hover {
    background-color: rgba(0, 0, 0, 0.05);
}
.os-dropdown.message-list li > a .user-avatar-w {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45px;
    flex: 0 0 45px;
    margin-right: 20px;
}
.os-dropdown.message-list li > a .user-avatar-w img {
    width: 45px;
    border-radius: 30px;
    height: auto;
}
.os-dropdown.message-list li > a .message-content .message-from {
    color: #fff;
}
.os-dropdown.message-list li > a .message-content .message-title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.675rem;
    text-transform: uppercase;
    margin-top: 2px;
    margin-bottom: 0px;
}
.os-dropdown.light {
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 75px 0px rgba(12, 76, 140, 0.5), 0px 3px 7px 0px rgba(12, 76, 140, 0.2);
    box-shadow: 0px 5px 75px 0px rgba(12, 76, 140, 0.5), 0px 3px 7px 0px rgba(12, 76, 140, 0.2);
}
.os-dropdown.light.message-list > .icon-w {
    color: rgba(4, 123, 248, 0.1);
}
.os-dropdown.light.message-list li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.os-dropdown.light.message-list li:last-child {
    border-bottom: none;
}
.os-dropdown.light.message-list li > a .message-content .message-from {
    color: #334152;
}
.os-dropdown.light.message-list li > a .message-content .message-title {
    color: #047bf8;
}

.fila-pipe{
    padding: 1rem;
}

.content-i {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.content-box {
    display: table-cell;
}
.content-box {
    padding: 2rem;
}
.content-box {
    vertical-align: top;
    padding: 2rem 3rem;
}

.user-profile, .element-box, .invoice-w, .big-error-w, .activity-boxes-w .activity-box, .projects-list .project-box {
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
    box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
}

.user-profile .up-head-w {
    background-size: cover;
    background-position: center center;
    position: relative;
    color: #fff;
    border-radius: 4px 4px 0px 0px;
}

.user-profile .up-head-w .up-social {
    position: absolute;
    top: 15px;
    right: 25px;
    z-index: 5;
}

.user-profile.compact .up-main-info {
    padding-top: 35%;
}
.user-profile .up-main-info {
    padding: 20% 5% 5% 5%;
    padding-top: 20%;
    position: relative;
    z-index: 4;
}

.user-profile .up-controls {
    padding: 20px 5%;
}

.element-wrapper {
    padding-bottom: 4rem;
}

.element-box, .invoice-w, .big-error-w {
    padding: 1.5rem 2rem;
    margin-bottom: 1rem;
}

.box-style, .user-profile, .element-box, .invoice-w, .big-error-w, .activity-boxes-w .activity-box, .projects-list .project-box {
    border-radius: 4px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
    box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
}
.element-box, .invoice-w, .big-error-w {
    -webkit-animation-name: fadeUp;
    animation-name: fadeUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}
.content-panel {
    padding: 2rem;
    width: 350px;
}
.content-panel {
    vertical-align: top;
    width: 400px;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    padding: 2rem 3rem;
    display: table-cell;
}

.content-panel .content-panel-close {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 14px;
    color: #047bf8;
    z-index: 999;
}

.profile-card-with-cover .card-profile-image img.img-border {
    border: 5px solid #FFF;
}
.img-empresa {
    max-width: 140px;
}

.profile-card-with-cover .card-profile-image {
    position: absolute;
    top: 130px;
    width: 100%;
    text-align: center;
}

.profile-card-with-cover .profile-card-with-cover-content {
    padding-top: 4rem;
}

.text-xs-center {
    text-align: center !important;
}
.mt-2, .my-2 {
    margin-top: 1.5rem !important;
}

.card .card-title {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .05rem;
    font-size: 1.12rem;
}

.card, .card-title {
    margin-bottom: 1.5rem;
}

.tags .tag {
    padding: 6px;
    line-height: 1;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #047bf8;
    color: #047bf8;
    margin-right: 2px;
    font-size: 0.72rem;
    border-radius: 4px;
    margin-bottom: 2px;
    margin-top: 2px;
}
.tag {
    font-weight: 400;
}
.tag {
    display: inline-block;
    padding: .35em .4em;
    font-size: 85%;
    font-weight: 600;
    line-height: 1;
    color: #FFF;
    text-align: center;
    vertical-align: baseline;
    border-radius: .25rem;
}

.user-social i.os-icon.os-icon-twitter {
    color: #31a7f3;
    font-size: 2.5rem;
}

.user-social i.os-icon.os-icon-facebook {
    color: #175dc5;
    font-size: 2.5rem;
}

.tags .tag:hover {
    padding: 6px;
    line-height: 1;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #047bf8;
    color: #047bf8;
    margin-right: 2px;
    font-size: 0.72rem;
    border-radius: 4px;
    margin-bottom: 2px;
    margin-top: 2px;
    text-decoration: none;
}
a.tag:hover {
    color: #1a50b7;
    text-decoration: underline;
    cursor: pointer;
}

.chat-message {
    margin-bottom: 20px;
}

.chat-message .chat-message-content {
    padding: 15px 35px;
    background-color: #fff9f0;
    color: #594939;
    max-width: 400px;
    display: inline-block;
    margin-bottom: -20px;
    margin-left: 20px;
    border-radius: 20px;
    text-align: left;
}

.chat-message .chat-message-avatar {
    display: inline-block;
    vertical-align: bottom;
}

.chat-message .chat-message-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    display: inline-block;
    -webkit-box-shadow: 0px 0px 0px 10px #fff;
    box-shadow: 0px 0px 0px 10px #fff;
}

.chat-message .chat-message-date {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0.72rem;
    color: rgba(0, 0, 0, 0.3);
}

.chat-message.self {
    text-align: right;
}

.chat-message.self .chat-message-content {
    background-color: #f0f9ff;
    color: #2A4E7F;
    margin-right: 20px;
    margin-left: 0px;
}


@media (max-width: 1650px) {
    body,
    body.auth-wrapper .all-wrapper {
        padding: 40px;
    }
    .content-panel {
        padding: 2rem;
        width: 350px;
    }
    .content-box {
        padding: 2rem;
    }
    .all-wrapper {
        max-width: 100%;
    }
}
/* #2.  Screen size <= 1550px */

@media (max-width: 1550px) {
    body,
    body.auth-wrapper .all-wrapper {
        padding: 20px;
    }
    .menu-side-w ul.main-menu {
        padding: 1.5rem 1rem;
    }
    .menu-side-w ul.main-menu > li .icon-w {
        padding-left: 1rem;
        width: 75px;
    }
    .menu-side-w ul.sub-menu {
        padding-left: 45px;
    }
    .menu-side-w {
        width: 260px;
    }
    .menu-side-w .logged-user-menu ul {
        padding-left: 30px;
        padding-right: 30px;
    }
}
/* #3.  Screen size <= 1350px */

@media (max-width: 1350px) {
    .menu-side-w .logo-w {
        padding: 1.5rem 1rem;
    }
    .menu-top-w .menu-top-i .logo-w {
        padding: 0rem 1rem;
        width: 50px;
    }
    .menu-top-w .menu-top-i ul.main-menu {
        padding-left: 0px;
    }
}
/* #4.  Screen size between 1100px - 1350px */

@media (min-width: 1100px) and (max-width: 1350px) {
    .content-panel {
        width: 300px;
        padding: 1.5rem;
    }
    .padded {
        padding: 0.5rem 1rem;
    }
    .content-box {
        padding: 1.5rem;
    }
    .activity-boxes-w .activity-avatar {
        margin-right: 1rem;
        width: 40px;
    }
    .activity-boxes-w .activity-time {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 90px;
        flex: 0 0 90px;
    }
    .activity-boxes-w .activity-box-w:before {
        left: 65px;
    }
    .activity-boxes-w .activity-box-w:after {
        left: 70px;
    }
    .profile-tile .profile-tile-box {
        width: 95px;
    }
    .profile-tile .pt-avatar-w img {
        width: 50px;
    }
    .profile-tile .profile-tile-meta {
        padding-left: 15px;
    }
}
/* #5.  Screen size <= 1400px */

@media (max-width: 1400px) {
    .menu-side-w {
        width: 230px;
    }
    .menu-side-w .side-menu-magic {
        padding: 30px 20px;
    }
    .menu-side-w .logged-user-menu ul {
        padding-left: 15px;
        padding-right: 15px;
    }
    .menu-top-image-w ul.main-menu > li .icon-w {
        padding-left: 20px;
    }
    .menu-top-image-w ul.main-menu > li span {
        padding-right: 20px;
    }
    .full-chat-w .chat-content-w .chat-message .chat-message-content {
        max-width: 320px;
    }
}
/* #6.  Screen size <= 1150px */

@media (max-width: 1150px) {
    .ae-content {
        padding: 0px;
    }
    .aec-full-message-w {
        margin-bottom: 0px;
    }
    .ae-content-w {
        background-image: none;
        background-color: #fff;
    }
    .aec-full-message-w .more-messages {
        top: -32px;
        background-color: #fff;
        padding: 3px 5px;
        border-radius: 4px;
        color: #047bf8;
    }
    .ae-list-w {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
        flex: 0 0 300px;
    }
    .ae-list-w .ae-list .aei-image {
        display: none;
    }
    .layout-w {
        -webkit-transition: all 0.6s ease;
        transition: all 0.6s ease;
    }
    .content-box:after {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background: rgba(4, 36, 113, 0.6);
        content: "";
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .content-panel {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        background-color: #fff;
        background-image: -webkit-gradient(linear, right top, left top, color-stop(8%, #EFF2F9), color-stop(90%, #fff));
        background-image: linear-gradient(-90deg, #EFF2F9 8%, #fff 90%);
        z-index: 4;
        border: none;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: all 0.6s ease;
        transition: all 0.6s ease;
        visibility: hidden;
        z-index: 11;
    }
    .content-panel .content-panel-close {
        display: block;
    }
    .content-panel-toggler {
        display: block;
    }
    .content-i,
    .with-side-panel .content-i {
        display: block;
    }
    .content-i .content-box,
    .with-side-panel .content-i .content-box {
        display: block;
    }
    .content-panel-active .content-panel {
        -webkit-transform: translateX(80px);
        transform: translateX(80px);
        visibility: visible;
        -webkit-box-shadow: 0 2px 80px 0 rgba(0, 0, 0, 0.4);
        box-shadow: 0 2px 80px 0 rgba(0, 0, 0, 0.4);
    }
    .content-panel-active .layout-w {
        -webkit-transform: translateX(-80px);
        transform: translateX(-80px);
    }
    .content-panel-active .content-box:after {
        opacity: 1;
        visibility: visible;
    }
}
/* #7.  Screen size <= 1250px */

@media (max-width: 1250px) {
    .element-box,
    .invoice-w,
    .big-error-w,
    .invoice-w,
    .big-error-w {
        padding: 1rem 1.5rem;
    }
    .element-box .os-tabs-controls,
    .invoice-w .os-tabs-controls,
    .big-error-w .os-tabs-controls,
    .invoice-w .os-tabs-controls,
    .big-error-w .os-tabs-controls {
        margin-left: -1.5rem;
        margin-right: -1.5rem;
    }
    body,
    body.auth-wrapper .all-wrapper {
        padding: 0px;
    }
    .content-w,
    .menu-side-w,
    .all-wrapper {
        border-radius: 0px !important;
        overflow: hidden;
    }
    .menu-side-w .logged-user-menu {
        left: 0px;
        right: 0px;
    }
}
/* #8.  Tablets and phones  (< 1024px) */

@media (max-width: 1024px) {
    .invoice-w {
        padding: 50px;
    }
    .ae-list-w {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 230px;
        flex: 0 0 230px;
    }
    .ae-list-w .ae-list .ae-item {
        padding: 15px;
    }
    .table th,
    .table td {
        padding: 0.7rem 0.5rem;
    }
    .content-w {
        border-radius: 0px !important;
    }
    .desktop-menu {
        display: none;
    }
}
/* #9.  Tablets (768px - 1024px) */

@media (min-width: 768px) and (max-width: 1024px) {
    .full-chat-w .full-chat-right {
        display: none;
    }
    .full-chat-w .chat-content-w .chat-content {
        padding: 30px;
    }
    .top-menu-secondary {
        overflow: scroll;
        padding: 0px;
    }
    .top-menu-secondary > ul {
        white-space: nowrap;
    }
    .top-menu-secondary > ul li a {
        padding: 15px 10px;
        margin: 0px 10px;
    }
    .nav.upper.nav-tabs .nav-link {
        margin-right: 0.7rem;
        padding-bottom: 10px;
        font-size: 0.72rem;
    }
    .display-type {
        content: "tablet";
    }
    .content-box {
        padding: 1.5rem;
    }
    .padded {
        padding: 0.3rem 0.8rem;
    }
    .element-box,
    .invoice-w,
    .big-error-w,
    .invoice-w,
    .big-error-w {
        padding: 1rem 1rem;
    }
    .element-box .os-tabs-controls,
    .invoice-w .os-tabs-controls,
    .big-error-w .os-tabs-controls,
    .invoice-w .os-tabs-controls,
    .big-error-w .os-tabs-controls {
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .layout-w {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    .content-w {
        display: table-cell;
    }
    .menu-mobile {
        width: 92px;
        display: table-cell;
    }
    .menu-mobile .menu-and-user {
        display: block;
    }
    .menu-mobile ul.sub-menu {
        padding: 1rem 1.5rem;
    }
    .menu-mobile .mobile-menu-magic {
        display: none;
    }
    .menu-mobile .logged-user-w {
        padding: 1rem;
        text-align: center;
    }
    .menu-mobile .logged-user-w .avatar-w img {
        width: 35px;
    }
    .menu-mobile .logged-user-w .logged-user-info-w {
        display: none;
    }
    .menu-mobile ul.main-menu {
        padding: 1rem 0.5rem;
    }
    .menu-mobile .mm-logo-buttons-w {
        text-align: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .menu-mobile .mm-logo-buttons-w .mm-buttons {
        display: none;
    }
    .menu-mobile .mm-logo-buttons-w .mm-logo {
        display: block;
        text-align: center;
    }
    .menu-mobile .mm-logo-buttons-w .mm-logo span {
        display: none;
    }
    .menu-mobile.color-scheme-dark ul.main-menu > li > a > span {
        background-color: #fff;
        color: #111;
    }
    .menu-mobile.color-scheme-dark ul.sub-menu {
        background-image: -webkit-gradient(linear, left top, left bottom, from(#1c4cc3), to(#1c2e7b));
        background-image: linear-gradient(to bottom, #1c4cc3 0%, #1c2e7b 100%);
    }
    .menu-mobile.color-scheme-dark ul.sub-menu:before {
        border-right-color: #203c9b;
    }
    .menu-mobile ul.main-menu > li > a > span {
        position: absolute;
        top: -15px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 4px;
        color: #fff;
        font-size: 0.81rem;
        padding: 1px 5px !important;
        display: none;
        white-space: nowrap;
    }
    .menu-mobile ul.main-menu li {
        position: relative;
    }
    .menu-mobile .sub-menu {
        position: absolute;
        top: 50%;
        left: 100px;
        background-color: #fff;
        min-width: 200px;
        z-index: 999;
        list-style: none;
        padding: 1rem 1.5rem;
        -webkit-box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .menu-mobile .sub-menu:before {
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(255, 255, 255, 0);
        border-right-color: #fff;
        border-width: 10px;
        margin-top: -10px;
    }
    .menu-mobile .main-menu li > a:hover > span {
        display: block;
    }
    .menu-mobile .has-sub-menu.active .icon-w {
        color: #3E4B5B;
    }
    .menu-mobile .has-sub-menu.active .sub-menu {
        display: block;
    }
    .user-profile .up-header {
        font-size: 2.5rem;
    }
    .user-profile .up-sub-header {
        font-size: 1rem;
    }
    .todo-app-w .todo-sidebar {
        padding: 30px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 280px;
        flex: 0 0 280px;
    }
    .todo-app-w .todo-sidebar .todo-sidebar-section {
        padding: 10px;
    }
    .todo-app-w .todo-content {
        padding: 30px;
    }
}
/* #10. Phones & Vertical Tablets (<= 768px) */

@media (max-width: 768px) {
    .todo-app-w .todo-sidebar {
        padding: 30px 20px 20px 45px;
    }
    .todo-app-w .todo-sidebar .todo-sidebar-section {
        padding: 10px 0px;
    }
    .todo-app-w .todo-sidebar .todo-sidebar-section-toggle {
        left: -22px;
    }
    .todo-app-w .todo-sidebar .todo-sidebar-section-header {
        font-size: 1.25rem;
    }
    .todo-app-w .todo-sidebar .todo-sidebar-section-sub-section,
    .todo-app-w .todo-sidebar ul.projects-list {
        padding-left: 10px;
    }
    .todo-app-w .todo-content {
        padding: 30px;
    }
    .todo-app-w .todo-content .all-tasks-w {
        padding-left: 5px;
    }
    .todo-app-w .todo-content .tasks-header-w {
        padding-left: 20px;
    }
    .todo-app-w .todo-content .tasks-header-w .tasks-header-toggler {
        left: -5px;
    }
    .todo-app-w .todo-content .todo-content-header {
        font-size: 1.25rem;
    }
    .todo-app-w .todo-content .all-tasks-w {
        padding-top: 0px;
        padding-right: 0px;
    }
    .todo-app-w .todo-content .tasks-list li.draggable-task {
        padding-right: 10px;
    }
}
/* #11. Phones (< 767px) */

@media (max-width: 767px) {
    .todo-app-w {
        display: block;
    }
    .todo-app-w .todo-sidebar {
        padding: 30px 15px 20px 40px;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
    .todo-app-w .todo-sidebar .todo-sidebar-section {
        padding: 10px 0px;
    }
    .todo-app-w .todo-sidebar .todo-sidebar-section-toggle {
        left: -22px;
    }
    .todo-app-w .todo-sidebar .todo-sidebar-section-header {
        font-size: 1.25rem;
    }
    .todo-app-w .todo-sidebar .todo-sidebar-section-sub-section,
    .todo-app-w .todo-sidebar ul.projects-list {
        padding-left: 10px;
    }
    .todo-app-w .todo-content {
        padding: 30px 20px;
    }
    .todo-app-w .todo-content .todo-content-header {
        font-size: 1.25rem;
    }
    .todo-app-w .todo-content .all-tasks-w {
        padding-top: 0px;
        padding-right: 0px;
    }
    .todo-app-w .todo-content .tasks-list li.draggable-task {
        padding-right: 10px;
    }
    .full-chat-w .full-chat-i {
        display: block;
    }
    .projects-list .project-head {
        padding: 20px 30px;
        display: block;
        text-align: center;
    }
    .projects-list .project-head .project-users {
        text-align: center;
        margin-top: 2rem;
    }
    .projects-list .project-info {
        padding: 20px 30px;
    }
    .projects-list .project-info .el-tablo {
        text-align: center;
        margin-bottom: 0.5rem;
    }
    .display-type {
        content: "phone";
    }
    .ae-list-w {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 230px;
        flex: 1 1 230px;
    }
    .ae-content-w {
        display: none;
    }
    .top-menu-secondary {
        overflow: scroll;
        padding: 0px;
    }
    .top-menu-secondary > ul {
        white-space: nowrap;
    }
    .top-menu-secondary > ul li a {
        padding: 15px 10px;
        margin: 0px 10px;
    }
    .nav.upper.nav-tabs .nav-link {
        margin-right: 0.7rem;
        padding-bottom: 10px;
        font-size: 0.72rem;
    }
    .app-email-w.forse-show-content .ae-content-w {
        display: block;
    }
    .app-email-w.forse-show-content .ae-list-w {
        display: none;
    }
    .aec-full-message-w .message-content {
        padding: 15px;
    }
    .aec-full-message-w .message-attachments {
        text-align: center;
    }
    .aec-full-message-w .message-head .user-w .user-role span {
        margin-left: 0;
    }
    .aec-reply {
        padding: 15px;
    }
    .aec-reply .reply-header {
        padding-bottom: 15px;
        padding-top: 15px;
        text-align: center;
    }
    .aec-reply .buttons-w {
        display: block;
        text-align: center;
    }
    .aec-reply .buttons-w .btn,
    .aec-reply .buttons-w .all-wrapper .fc-button,
    .all-wrapper .aec-reply .buttons-w .fc-button {
        margin-bottom: 10px;
    }
    .floated-chat-btn i + span {
        display: none;
    }
    .floated-chat-btn {
        padding: 10px 12px;
    }
    .padded {
        padding: 1rem;
    }
    .user-profile .up-head-w .up-social {
        top: 5px;
        right: 10px;
    }
    .user-profile .up-head-w .up-social a {
        font-size: 24px;
    }
    .user-profile .up-main-info {
        padding-bottom: 10%;
    }
    .user-profile .up-header {
        font-size: 1.75rem;
        margin-bottom: 5px;
        padding-bottom: 5px;
    }
    .user-profile .up-sub-header {
        font-size: 1rem;
    }
    .user-profile .up-controls {
        text-align: center;
    }
    .user-profile .up-controls .value-pair {
        margin-bottom: 1rem;
    }
    .user-profile .up-controls .text-right {
        text-align: center !important;
    }
    .timed-activities {
        padding: 0;
    }
    .timed-activity {
        display: block;
        font-size: 0.9rem;
    }
    .timed-activity .ta-date {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        margin-bottom: 3rem;
        text-align: left;
    }
    .timed-activity .ta-date span:after {
        -webkit-transform: none;
        transform: none;
        left: 0px;
    }
    .timed-activity .ta-record-w {
        padding-left: 0px;
    }
    .timed-activity .ta-record {
        display: block;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
    .timed-activity .ta-activity {
        font-size: 0.81rem;
    }
    .content-panel-toggler {
        display: none;
    }
    .menu-mobile {
        display: block;
    }
    .element-info .element-search {
        margin-top: 1rem;
    }
    .element-box .os-tabs-controls,
    .invoice-w .os-tabs-controls,
    .big-error-w .os-tabs-controls,
    .invoice-w .os-tabs-controls,
    .big-error-w .os-tabs-controls {
        display: block;
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .element-box .os-tabs-controls .nav + .nav,
    .invoice-w .os-tabs-controls .nav + .nav,
    .big-error-w .os-tabs-controls .nav + .nav,
    .invoice-w .os-tabs-controls .nav + .nav,
    .big-error-w .os-tabs-controls .nav + .nav {
        margin-top: 1rem;
    }
    .element-box.el-tablo,
    .el-tablo.invoice-w,
    .el-tablo.big-error-w {
        text-align: center;
    }
    .invoice-w .infos {
        display: block;
    }
    .invoice-w .infos .info-2 {
        text-align: left;
        padding-top: 30px;
    }
    .invoice-heading {
        margin-bottom: 2rem;
        margin-top: 4rem;
    }
    .invoice-body {
        display: block;
    }
    .invoice-body .invoice-desc {
        margin-bottom: 2rem;
    }
    .invoice-footer {
        display: block;
        text-align: center;
    }
    .invoice-footer .invoice-logo {
        margin-bottom: 1rem;
    }
    .controls-above-table .form-control {
        width: 110px;
        display: inline-block;
    }
    .controls-above-table .btn,
    .controls-above-table .all-wrapper .fc-button,
    .all-wrapper .controls-above-table .fc-button {
        margin-bottom: 0.5rem;
    }
    .layout-w {
        display: block;
    }
    .content-w,
    .menu-side .content-w {
        display: block;
    }
    .content-i {
        display: block;
    }
    .content-i .content-box {
        display: block;
        padding: 15px;
    }
    .content-i .content-panel {
        padding: 15px;
        border-left: none;
        display: block;
        width: auto;
    }
    .big-error-w {
        padding: 1rem;
    }
    .element-wrapper {
        padding-bottom: 1.5rem;
    }
    .element-box,
    .invoice-w,
    .big-error-w {
        padding: 1rem;
    }
    canvas {
        max-width: 100%;
    }
    table {
        max-width: 100%;
    }
    .invoice-w {
        padding: 30px;
    }
    .breadcrumb {
        margin-bottom: 1rem;
    }
}

.element-wrapper .element-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 1;
    font-size: 1.3rem;
}

h6, .h6 {
    font-size: 1rem;
}

.text-center{
    text-align:center;
}

.chat-messages .message {
    margin-bottom: 12px;
}

.chat-messages .date-break {
    text-align: center;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.4);
}

.chat-messages .message {
    margin-bottom: 12px;
}

.chat-messages .message .message-content {
    padding: 15px 35px;
    background-color: #fff9f0;
    color: #594939;
    max-width: 400px;
    display: inline-block;
    margin-bottom: -20px;
    margin-left: 20px;
    border-radius: 20px;
    text-align: left;
}

 .chat-messages .message.self {
    text-align: right;
}
.chat-messages .message {
    margin-bottom: 12px;
}

.chat-messages .message.self .message-content {
    border-radius: 20px 20px 0px 20px;
    background-color: #e2efff;
    color: #2A4E7F;
}

.chat-messages .message {
    margin-bottom: 12px;
}

.chat-controls {
    padding: 10px;
    padding-top: 10px;
    padding-top: 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.chat-controls .message-input {
    border: 1px solid transparent;
    background-color: #fff;
    padding: 10px;
    width: 100%;
    display: block;
    border-radius: 0px;
}

.cell-image-list .cell-img {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center center;
    border-radius: 2px;
    vertical-align: middle;
    -webkit-transition: all 0.1s ease;
    transition: all 0.1s ease;
    -webkit-transform: scale(1);
    transform: scale(1);
    position: relative;
    border-radius: 1000px;
}

.tag-blue{
    border-color: #1976D2 !important;
    background-color: #2196F3 !important;
    color: #FFF;
}